<table class="list issues projects">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% projects.each do |project| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to_project(project, {}, :class => "#{project.css_classes} #{User.current.member_of?(project) ? 'my-project' : nil}") %></td>
        <td><p class="someclass"><%= project.description %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'projects', :plugin => 'projects_table' %>
<% end %>